{% extends "base.html" %}

{% block title %}Study Details{% endblock %}

{% block content %}
    <h1>Study Details</h1>
    <h2>{{ study.study.name }}</h2>
    <p><strong>Summary:</strong> {{ study.study.summary }}</p>
    <p><strong>Description:</strong> {{ study.study.description }}</p>
    <p><strong>Source URL:</strong> <a href="{{ study.study.url }}">{{ study.study.url }}</a></p>

    <h3>Tags</h3>
    <ul>
        {% for tag in study.study.tags %}
        <li>{{ tag }}</li>
        {% endfor %}
    </ul>

    <h3>Score</h3>
    <p><strong>Percentile:</strong> {{ study.score.percentile }}</p>
    <p><strong>Genetic Score:</strong> {{ study.score['genetic-score'] }}</p>

    <h3>Variants</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Variant</th>
                <th>Genotype</th>
                <th>Gene</th>
                <th>Effect Size</th>
                <th>Frequency</th>
                <th>Significance</th>
                <th>NIH Search</th>
            </tr>
        </thead>
        <tbody>
            {% for variant in study.variants %}
            <tr>
                <td>
                    <a href="{{ url_for('variants.get_variant_by_name', subject_id=study.patient_id, variant_name=variant.variant.split('_')[0]) }}">
                        {{ variant.variant }}
                    </a>
                </td>
                <td>{{ variant.genotype }}</td>
                <td>
                    {% if variant.gene %}
                        <a href="https://www.ncbi.nlm.nih.gov/gene/?term={{ variant.gene }}" target="_blank">
                            {{ variant.gene }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ variant['effect-size'] }} ({{ variant['effect'] }})</td>
                <td>{{ variant['variant-frequency'] }}</td>
                <td>{{ variant.significance }}</td>
                <td>
                    <a href="https://www.ncbi.nlm.nih.gov/snp/?term={{ variant.variant.split('_')[0] }}" target="_blank">
                        {{ variant.variant.split('_')[0] }}
                    </a>
                </td>
             </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
